.form-inline {
    width: 100%;
  }

.form-group {
    width: 50%;
}

.input-group {
    width: 50% !important;
}

.input-label {
    padding:5px;
}

.button {
    display: none;
}

.wrapper:hover .button {
    display: inline-block;
    
}

.wrapper {
    padding:10;
}

