.form-inline {
    width: 100%;
  }

.form-group {
    width: 50%;
}

.input-group {
    width: 50% !important;
}

.input-label {
    padding:1px;
}

.button {
    display: none;
}

.wrapper:hover .button {
    display: inline-block;
    
}

.wrapper {
    margin-top: 5px;
    margin-bottom: 10px;
    padding:10;
}



.multiborder{
    border-bottom: 1px solid lightgray;
    position:relative;
    width: 95%;
    left: 20px;
    margin:10px;
}

.bottom-border{
    border-bottom: 1px solid lightgray;
    position:relative;
    width: 97.5%;
    margin:15px;
}
