.form-inline {
    width: 100%;
  }

.form-group {
    width: 50%;
}

.input-group {
    width: 50% !important;
}

.input-label {
    padding:5px;
}

.button {
    display: none;
}

.wrapper:hover .button {
    display: inline-block;
    
}

.wrapper {
    padding:10;
}

.multiborder{
    border-bottom: 1px solid lightgray;
    position:relative;
    width: 95%;
    left: 20px;
    margin:10px;
}

.eka{
    border-bottom:none;
    position:absolute;
    margin:10px;
}

.toka{
    border-bottom:none;
    position:absolute;
    margin:10px;
}